// VideoBooth 资源脚本
#pragma code_page(65001)

#include "resource.h"

IDI_APPICON                 ICON        "../assets/icon.ico"

IDR_MANIFEST                RT_MANIFEST "app.manifest"

VS_VERSION_INFO VERSIONINFO
  FILEVERSION    1,0,0,0
  PRODUCTVERSION 1,0,0,0
  FILEFLAGSMASK  0x3fL
  FILEFLAGS      0x0L
  FILEOS         0x40004L
  FILETYPE       0x1L
  FILESUBTYPE    0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
        BEGIN
            VALUE "CompanyName",      "VideoBooth"
            VALUE "FileDescription",  "高性能视频展台"
            VALUE "FileVersion",      "1.0.0.0"
            VALUE "InternalName",     "VideoBooth"
            VALUE "OriginalFilename", "VideoBooth.exe"
            VALUE "ProductName",      "VideoBooth 视频展台"
            VALUE "ProductVersion",   "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x804, 1200
    END
END
